nav {
    background-image: linear-gradient(to right, #1b0089ff, #000000ff);
    padding: 1em;
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: start;
    flex-wrap: wrap
}
nav ul li a {
    color:white;
    margin-right: 10px;
    padding: 0.5em;
    transition: background-color 0.5s;
    text-decoration: none;
}
nav a:hover {
    background-color: #1da1f2
}
table, th, td {
    border: 1px solid black;
}
table {
    margin: 0 auto;
}
body {
    background-color: #92cbdc;
}
#form {
    border: 2px red solid;
    width: 80%;
    margin: 0 auto;

}
* {
    margin: 0;
    padding: 0;
}
