<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<style>

    a.nav-link {
        background-color: rgba(255, 0, 0, 0.0);
        transition: background-color 0.5s;
        color: #ffffff !important;
    }
    a.nav-link:hover {
        background-color: #e8a833;
    }
    nav {
        background-image: linear-gradient(to right, #27B2E4, #01445C);
    }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>Portfolio</a>
            <a class="nav-link" href={{ url_for('kangaroos') }}>Kangaroos</a>
            <a class="nav-link" href={{ url_for('walruses') }}>Walruses</a>
            <a class="nav-link" href={{ url_for('hawkers') }}>Hawkers</a>
            <!-- stub is shown using the name of the route -->
            <a class="nav-link" href="/Greet-Pages/MiniLabs">MiniLabs</a>
            <a class="nav-link" href="/Greet-Pages/binary">Binary</a>
            <div class="container">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">About Us</button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://127.0.0.1:5000/Greet-Pages/Sanjay/">Sanjay</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://127.0.0.1:5000/Greet-Pages/gavin/">Gavin</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://127.0.0.1:5000/Greet-Pages/Matthew/">Matthew</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://127.0.0.1:5000/Greet-Pages/samuel/">Samuel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>



    </body>
    </html>
</nav>

