{% include "ournav.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
            display:block;
            margin-left: auto;
            margin-right: auto;

            width: 50%
        }
        iframe {
            display: block;
            margin: 0 auto;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>
<h1>Under Construction</h1>
<iframe width="800" height="450" src="https://www.youtube.com/embed/qs8caOw2gok?autoplay=1&mute=1"  title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media"></iframe>
</html>