{% include "ournav.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instructions</title>
</head>
<body>

</body>
</html>




<div class="biegbox">

    <div class="boxy">
        <h2>Instructions</h2>
        <p> At the the top of the screen is a navigation bar where you will be able to <i>navigate</i> the website.
            In the navigation bar you can simply hover over the drop down menus in order to expand the list. Once you find a link
            that interests you you can click on it to navigate to that page. </p>
    </div>
    <div class="buttons">
        <p>buttons go here</p>
    </div>

</div>
<style>
    .boxy {
        border: 5px white dashed;
        width: 30%;
        background-color: rgb(253, 155, 202);
        align-items: center;
    }
    .buttons {
        border:
    }
</style>