<!-- Extending the predefined project layout -->
{% include "ournav.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <style>
    .paragraph {
        color: white;
        width: 15%;
        border: 2px white solid;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.3) ;
    .
    }
    .Hello {
        color: black;
        width: 30%;
        border: 2px white solid;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.5) ;
    }
    .col-12{
        color: black;
    }
    </style>
    <!- Try building a new body here ->

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">



    <div class="col-12">
        <form action="/greet_Matthew" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>

    <div class="Hello">
        <p>Hello, my name is Matthew and I am one of the four clowns who worked on this web page. Nice to meet you {{name}}! </p>
    </div>
    <br>

    <div class="paragraph">
        <p>This is my pet rock. His name is Billy. </p> </div>


    <img src="/static/assets/clear%20rock.png" alt="no">

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
</div>