{% include "ournav.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <script>
        function quiz() {
            const rbs = document.querySelectorAll('input[name="mode"]');
            let selectedValue;
            for (const rb of rbs) {
                if (rb.checked) {
                    selectedValue=rb.value;
                    break;
                }
            }
            document.getElementById("afdf").innerHTML=selectedValue
            document.getElementById("toquiz").href = "/quiz?mode="+selectedValue
        }

    </script>
</head>
<body>
    <form>
        <input type="radio" name="mode" value="Single-Q" id="SQ">
        <label for="SQ">Single Question</label>
        <input type="radio" name="mode" value="test" id="test">
        <label for="test">Test</label>
    </form>
    <button onclick="quiz()">show results</button>


<p id="afdf"></p>
    <a href="/quiz?" id="toquiz">go to quiz</a>
</body>
</html>