a.nav-link {
    background-color: rgba(255, 0, 0, 0.0);
    transition: background-color 0.5s;
    color: #ffffff !important;
}
a.nav-link:hover {
    background-color: #1da1f2;
}
nav {
    background-image: linear-gradient(to right, #1b0089ff, #000000ff);
}
