<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<h1>Video Journals</h1>
<h2>Video Journal 0</h2>
    <iframe width="500" height="281.35738831615123" src="https://www.youtube.com/embed/iMdARprhhZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
