{% include "ournav.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
<h1 style="text-align:center; position:relative; font-size:300%;">Wireframes</h1>
</head>
    <style>
        .game-board {
            position:relative;
            top:50px;
            left:250px;
            display: grid;
            grid-template-rows: 350px 350px 350px;
            grid-template-columns: 350px 350px 350px;
        }

        .box {
            background: #dadada;
            border: 2px solid #555;
            color: #000000;
        }
    </style>



<div class="game-board">
    <div class="box"><img src="/static/assets/aboutpage.PNG" style="width:250px;height:250px;padding: 5px 20px 0px 45px;" alt="About Page">
    <p style="align-items:end; text-align:center">This was our original design for the about page, but we ended up opting for seperate pages for each person.</p>
    </div>
    <div class="box"><img src="/static/assets/homepage.PNG" style="width:250px;height:250px;padding: 5px 20px 0px 45px;" alt="Home Page">
        <p style="align-items:end; text-align:center">This was our original design for the home page, which included buttons to bring the user to "About Us", "Start!", and "How to Play". We've used this design but decided on a different navbar and buttons.</p>
    </div>
    <div class="box"><img src="/static/assets/howtoplay.PNG" style="width:250px;height:250px;padding: 5px 20px 0px 45px;" alt="How To Play">
        <p style="align-items:end; text-align:center">This was our original how to play page, which has a start and home button. It also contains two columns that have info about how to play and the rules.</p>
    </div>
    <div class="box"><img src="/static/assets/minlabs.PNG" style="width:250px;height:250px;padding: 5px 20px 0px 45px;" alt="Minilabs">
        <p style="align-items:end; text-align:center">This was our original design for the Minilabs page, which included a square for each minilab we were going to do.</p>
    </div>
    <div class="box"><img src="/static/assets/navpage.PNG" style="width:250px;height:250px;padding: 5px 20px 0px 45px;" alt="Nav Page">
        <p style="align-items:end; text-align:center">This was our original design for a navigation page. This would have buttons to bring you to each trivia topic that we would make.</p></div>
    <div class="box"><img src="/static/assets/startpage.PNG" style="width:250px;height:250px;padding: 5px 20px 0px 45px;" alt="Start Page">
        <p style="align-items:end; text-align:center">This was our original design for the start page. This had buttons to bring you back to the home page, navigation page, and how to play page. There is also a box of text giving instructions.</p>
    </div>
</div>
</html>

